.fav-prd {
    width: 30%;
    height: 100%;
    border-radius: 1em;
    padding: .5em;
    background-color: var(--white-color);
    
    table {
        width: 100%;
        max-height: 84%;
        overflow: scroll;
        thead > tr {
            display: flex;
            gap: .3em;
            position: sticky;
            top: 0;
            th {
                font-size: 1em;
                font-weight: 500;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: .5em;
                    width: 100%;
                    height: 100%;
                    border-radius: 1.5em;
                    border: 2px solid var(--light-gray);
                    color: var(--dark-gray);
                    font-size: .8em;
                }

                &:nth-child(1) {
                    width: 15%;
                }
                &:nth-child(2) {
                    width: 50%;
                }
                &:nth-child(3) {
                    width: 35%;
                }
            }
        }
        tbody > tr {
            display: flex;
            height: 4em;
            margin-top: .3em;
            gap: .3em;
            border-bottom: 2px solid var(--light-gray);
            padding: .3em;
            td {
                &:nth-child(1) {
                    width: 15%;
                    div.pd-img {
                        width: 100%;
                        height: 100%;
                        background-color: var(--light-gray);
                        border-radius: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 80%;
                            height: 80%;
                            object-fit: contain;
                        }
                    }
                }
                &:nth-child(2) {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: .5em;
                    align-items: center;

                    .av {
                        font-size: .8em;
                        justify-self: center;
                        width: max-content;
                        padding: 0 .5em;
                        border-radius: 1em;
                        background-color: var(--light-green);
                        color: var(--tertiary-color);
                    }
                    .down {
                        background-color: var(--secondary-red);
                        color: var(--secondary-color);
                    }
                }
                &:nth-child(3) {
                    width: 35%;
                    display: flex;
                    gap: .3em;
                    align-items: center;
                    justify-content: center;

                    .suffix {
                        color: var(--dark-gray);
                    }
                }
            }
        }
    }


}

.pd-head {
    height: 12%;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 0 1em;
    .point {
        height: .5em;
        width: .5em;
        border-radius: 50%;
        background-color: var(--primary-color);
    }
    .ttl {
        font-size: 1.2em;
        font-weight: 400;
    }
}

.uinactive, .uactive {
    height: .5em;
    width: .5em;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.uactive {
    background-color: var(--tertiary-color);
}

.name-av {
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    height: 100%;
}