.section-opt {
    height: 4em;
    background-color: var(--white-color);
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding-left: 1em;
    cursor: pointer;

    .sec-opt-name {
        font-size: 1.2em;
        font-weight: 500;
    }

    &:hover {
        background-color: var(--dark-gray); 
        .sec-opt-name {
            color: var(--white-color);
        }
    }
}
.active {
    background-color: var(--primary-color) ;
    .sec-opt-name {
        color: var(--white-color);
    }
    &:hover {
        background-color: var(--primary-color);
    }
}